<h1>Welcome</h1>
<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.username %></h1>
<%end%>
 <%= button_to "Logout", '/logout', method: :get%>
<%#= button_to "Sign Up", '/users/new', method: :get%>
<% session_my_path = "users/#{session[:user_id]}" %>
<%= button_to " Profile", session_my_path, method: :get%> 